.watch{
    width:580px;
    height: 500px;
    border: 20px solid gray;
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(197, 158, 158, 0.568);
    border-radius: 20px;
    
}

.clock{
    width: 200px;
}
small{
    font-size: 20px;
}
span{
    color: rgb(218, 62, 5);
}

.box{
    width: 170px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 71, 50);
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    
    padding: 5px;
    
}
.box1{
    width: 170px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 73, 72);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    
    padding: 3px;  
    
}
